/* =========================
   1. Imports
========================= */
@import "tailwindcss";

/* =========================
   2. Global Reset
========================= */
* {
  box-sizing: border-box;
}


/* SELECTION COLOR */
::selection{
  background-color: white; 
  color: black;
}

button {
  cursor: pointer;
}

/* =========================
   3. Base Styles
========================= */
body {
  height: 100vh;
  background-color: #1C1E1F;
  /* font-family: sans-serif; */
}

/* =========================
   4. Utilities
========================= */
/* Hide scrollbar (cross-browser) */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* =========================
   5. Components
========================= */
.list-container {
  overflow-y: auto;
  /* hide scroll bar */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.tip-container {
  transition: all 0.3s ease-in-out;
}
